<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="server"  value="csye6225-spring2019.cagfy3cjztoy.us-east-1.rds.amazonaws.com"   />
    </appSettings>
</configuration>
