<?xml version="1.0" encoding="utf-8"?>

<configuration>
<section name="statsD" type="NStatsD.StatsDConfigurationSection, NStatsD.Client" />

<statsD enabled="true" prefix="test.demo.">
	<server host="localhost" port="8125" />
</statsD>
</configuration>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="server"  value="csye6225-spring2019.cagfy3cjztoy.us-east-1.rds.amazonaws.com"   />
    </appSettings>
</configuration>
